@let cartProducts = cartProducts$ | async;

<div class="container pt-4">
  <div class="row">
    @if (cartProducts?.length) {
      @for (product of cartProducts; track product.id) {
        <div class="col-12 mb-4">
          <div class="card shadow-sm">
            <div class="row no-gutters">
              <div class="col-md-4">
                <div class="product-image">
                  <img [src]="product.image" alt="{{ product.name }}"/>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.description }}</p>
                  <div class="d-flex justify-content-between">
                    <span class="text-muted">{{ product.category }}</span>
                    <span class="text-success">{{ product.price | currency }}</span>
                  </div>
                  <div class="d-flex justify-content-between mt-2">
                    <button class="btn btn-danger btn-sm" (click)="removeFromCart(product.id)">
                      Remove
                    </button>
                    <span class="badge bg-secondary pt-2 rating-box">
                  <i class="bi bi-star-fill rating-icon"></i> {{ product.rating }}
                </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    } @else {
      <div class="text-center mt-5">
        <h3>Your cart is empty. Add some products!</h3>
      </div>
    }
  </div>

  @if (cartProducts?.length) {
    <div class="text-end mt-3">
      <h4>Total: {{ total$ | async | currency }}</h4>
    </div>
  }
</div>
