@if (products().length) {
  <app-filter-sidebar></app-filter-sidebar>
  <section class="content">
    <div class="row">
      @for (product of paginatedProducts(); track product.id) {
        <div class="col-4 ps-5 pe-5 pt-5">
          <div class="card" (click)="openProductModal(product)">
            <img class="card-img-top" [src]="product.image" [alt]="product.name">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <div>{{ product.price | currency }}</div>
              <div class="d-flex align-items-center justify-content-between">
                <app-star-rating [rating]="product.rating"></app-star-rating>
                <button class="btn btn-primary" (click)="addToCart($event, product)"
                        [disabled]="!!selectedProductsMap()[product.id]">
                  {{ !!selectedProductsMap()[product.id] ? 'Added' : 'Add to cart' }}
                </button>
              </div>
            </div>
          </div>
        </div>
      }

      <div class="d-flex justify-content-center mt-4 mb-4">
        <button class="btn btn-secondary" (click)="changePage(currentPage() - 1)" [disabled]="currentPage() === 1">
          Previous
        </button>
        <span class="mx-3">{{ currentPage() }} / {{ totalPages() }}</span>
        <button class="btn btn-secondary" (click)="changePage(currentPage() + 1)"
                [disabled]="currentPage() === totalPages()">
          Next
        </button>
      </div>
    </div>
  </section>
} @else {
  <div class="text-center mt-5">
    <h3>No products!</h3>
  </div>
}

